/*--------TAGS--------*/
body{
    background-color: beige !important;
}

h1{
    font-family: 'Luxurious Roman', cursive;
}

p{
    font-family: 'Luxurious Roman', cursive;
}

/*--------CLASSES--------*/
/*Roll custom die button*/
.rollcustom{
    visibility: hidden;
}

/*Div classes*/
.title{
    border: 3px solid black;
    margin: 25px auto;
    padding: 10px;
    text-align: center;
    width: 25%;
}

.dicebuttons, .resultbox, .resetbutton, .dicequantity{
    margin: 10px 10px 20px 10px;
}


/*--------IDs--------*/
#dquantity{
    width: 60px;
}

#ndice{
    visibility: hidden;
    width: 60px;
}
